<div class="container">
  <div class="row">
    <div class="col-lg-4" *ngFor="let article of articles">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{article.title}}</mat-card-title>
          <mat-card-subtitle>Added By: {{article.autherId.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="article.article_image" [alt]="article.title">
        <mat-card-content>
          <p>
            {{article.sub_title}}
          </p>
          <br>
          <p>
            <button mat-mini-fab aria-label="Example icon-button with a forward icon" [routerLink]="['/admin/post', article._id]">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary"(click)="editPostDialog(article._id)">EDIT</button>
          <button mat-flat-button color="accent" (click)="onDeleteArticle(article._id)">DELETE</button>
          <!-- <button mat-button>LIKES: {{article.likes}}</button>
          <button mat-button>DISLIKES: {{article.dislikes}}</button>
          <button mat-button>COMMENTS: {{article.comments.length}}</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>