mat-sidenav-container {
    height: 100%;
}

.ddddd {
    margin: 70px 0px 129px 0;
}

mat-sidenav-content {
    overflow-y: hidden;
}

mat-form-field, mat-slide-toggle {
    width: 100%;
}
// .submitBtn {
//     left: 56px;
//     top: 17px;
//     width: 162px;
// }