.reply-form {
    position: relative;
    left: 37px;
}

.unauth {
    text-align: center;
    background-color: #0b3e6b;
    color: #fff;
    font-size: 20px;
}

.list-group {
    margin-bottom: 25px;
}

.list-group-item {
    background-color: #c5bbbb;
}