<h1 mat-dialog-title style="text-align: center; font-size: 40px">
  {{ headerTitle }}
</h1>

<div mat-dialog-content>
  <form [formGroup]="form" class="form-container">
    <mat-form-field color="accent">
      <input
        matInput
        formControlName="title"
        type="text"
        required
        placeholder="Article Title"
      />
    </mat-form-field>
    <mat-error
      *ngIf="form.controls.title.invalid && form.controls.title.touched"
      >Article Title is Required</mat-error
    >
    <mat-form-field color="accent">
      <input
        matInput
        formControlName="sub_title"
        type="text"
        required
        placeholder="Article Sub Title"
      />
    </mat-form-field>
    <mat-error
      *ngIf="form.controls.sub_title.invalid && form.controls.sub_title.touched"
      >Article Sub Title is Required</mat-error
    >
    <angular-editor
      [placeholder]="'Enter content here...'"
      [(ngModel)]="htmlContent"
      formControlName="content"
      required
    ></angular-editor>
    <br />
    <div class="form-group col-8">
      <button mat-stroked-button (click)="filePicker.click()" type="button">
        Pick Article Image
      </button>

      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div
      class="image-preview form-group col-8"
      *ngIf="
        imagePreview !== '' && imagePreview && form.get('article_image').valid
      "
    >
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <br />
    <mat-select placeholder="Select Topic" formControlName="topicId">
      <mat-option *ngFor="let topic of topics" [value]="topic._id">
        {{topic.name}}
      </mat-option>
    </mat-select>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]="form.value"
    cdkFocusInitial
    color="primary"
  >
    Save
  </button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
